.splash-container{
    width: 100%;
    height: 500px;
    /* #390D04 */
    background-color: linear-gradient(90deg, #1f0c25 1.18%, #6d002a 100%);
    background-image: url('@/assets/bg-img.jpg');
    background-position: center center;
    background-size: cover;
    }

.splash{
    display: flex;
    justify-content: center;
    height: 100%;
    background-image: url('@/assets/grain.png');
    background-position: top center;
}
    h1{
        align-self: center;
        color: #FF6866;
        font-family: Modak, tahoma, sans-serif;
        font-size: 10vw;
        text-align: center;
        text-shadow: 2px 2px 10px #200;
        opacity: 0.9
        }



.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0px auto;
    padding-top: 35px;
}
.product-table{
    width: 100%
}
.quantity-input{
    width: 100px
}


.card-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}




.card {
    display: inline-block;
    width: 400px;
    background: linear-gradient(90deg, #1f0c25 1.18%, #6d002a 100%);
    margin-bottom: 20px;
    color: white;
    opacity: 1.0;
}

.card-title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    background: linear-gradient(90deg, #1f0c25 1.18%, #6d002a 100%);
    padding: 10px;
    font-size: 22px;
}

.card-body {
    border: 1px solid #F6E57B;
    border-top: 0px;
    border-bottom: 0px;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
}
/*i{
    display: block;
    color: #390D04;
    opacity: 0.8;
}*/

label first-of-type{
    display: inline-block;
    font-weight: bold;
    margin-top: 0px
}

    input{
        width: 100px;
        border: 1px solid #F6E57B;
        padding: 4px;
    }

    .cell first-of-type{
        align-items: center;
        width: 50%;
        min-height: 2em;
        padding: 3px 4px;
        justify-content: end;
    }


.card-footer{
    background: #5B2A3F;
    margin-top: 15px;
    padding: 10px;
    text-align: right;
}


.card-img{

    padding: 10px;
    height: 250px;
    width: 100%;

}

.spread{
    display: flex;
    justify-content: space-between;
}


.btn:active{
    border: 0px;
    border-radius: 3px;
    padding: 5px 12px;
    font-weight: bold;
    vertical-align: middle;
    padding: 6px 11px 4px 13px;
}

.btn-dark:hover{
    background: #79A206;
    color: #FFF8EA;
    background: #001;
    color: #FCF5D8;
}
.btn-light:hover{
    background: #FFF8EA;
    color: #79A206;
    background: #001;
    color: #FCF5D8;
}
.center{
    text-align: center
}


.row{
    display: flex;
    align-items: center;
    justify-content:center;
}

.cell{
    display: inline-flex;
    align-items:center;
}